name: Master Build Daily - NhlApiAsyncHelper
on:
  schedule:
  - cron: "0 7 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 9
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '9.0.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Run tests
      run: dotnet test ./Nhl.Api.Tests/Nhl.Api.Tests.csproj --filter "FullyQualifiedName~Nhl.Api.Tests.NhlApiAsyncHelperTests"
